PngImage_1 RCDATA "Win32\\Debug\\image\\1.png"
PngImage_2 RCDATA "Win32\\Debug\\image\\2.png"
PngImage_3 RCDATA "Win32\\Debug\\image\\3.png"
PngImage_4 RCDATA "Win32\\Debug\\image\\4.png"
PngImage_5 RCDATA "Win32\\Debug\\image\\5.png"
PngImage_6 RCDATA "Win32\\Debug\\image\\6.png"
PngImage_7 RCDATA "Win32\\Debug\\image\\7.png"
PngImage_8 RCDATA "Win32\\Debug\\image\\8.png"
PngImage_9 RCDATA "Win32\\Debug\\image\\9.png"
PngImage_10 RCDATA "Win32\\Debug\\image\\반복.png"
PngImage_11 RCDATA "Win32\\Debug\\image\\선언.png"
PngImage_12 RCDATA "Win32\\Debug\\image\\입력.png"
PngImage_13 RCDATA "Win32\\Debug\\image\\조건 반복 끝내기.png"
PngImage_15 RCDATA "Win32\\Debug\\image\\조건-else.png"
PngImage_16 RCDATA "Win32\\Debug\\image\\조건-elseif.png"
PngImage_14 RCDATA "Win32\\Debug\\image\\조건.png"
PngImage_17 RCDATA "Win32\\Debug\\image\\처리.png"
PngImage_18 RCDATA "Win32\\Debug\\image\\출력.png"
